__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.idea

outputs/
runs/
checkpoints/
*.npy
*.npz
*.pt
*.pth

/dataset/
/tests/
/PGDF_minimal_dataset
/PGDF_minimal_dataset_fixed
/PGDF_minimal_dataset.zip
/PGDF_minimal_dataset_final.zip
/PGDF_minimal_dataset_fixed.zip
